@model Reisapp.UI.ViewModels.Home.IndexModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12 row">
    <div class="col-md-12">

		
        <div class="col-md-6">
            <div class="col-md-12 headercontainer">
                <h3><strong>Waar wil je heen</strong></h3>
				<hr />            
			</div>
		</div>


		<div class="col-md-6">
            <div class="col-md-12 headercontainer">
                <h3><strong>Informatie steden</strong></h3>
				<hr />
			</div>
		</div>

		
	</div>
</div>

@section scripts{


    <script type="text/javascript">
        
    </script>

}