@model Reisapp.UI.ViewModels.Home.IndexModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12 row">
    <div class="col-md-12">

		
        <div class="col-md-6">
            <div class="col-md-12 headercontainer">
                <h3><strong>Waar wil je heen</strong></h3>
				<hr />            
                <br />

                <h4><strong>Van</strong></h4>                
                @Html.EditorFor(model => model.FromCityName, new { htmlAttributes = new { @class = "form-control", @id = "FromCityName" } })
                
                <br />
                <h4><strong>Naar</strong></h4>
                @Html.EditorFor(model => model.ToCityName, new { htmlAttributes = new { @class = "form-control", @id = "ToCityName"}})


                <button type="button" id="btnGetFromToRoute" class="btn btn-success">Zoeken</button>
			</div>

            
		</div>


		<div class="col-md-6">
            <div class="col-md-12 headercontainer">
                <h3><strong>Informatie steden</strong></h3>
				<hr />
			</div>
		</div>

		
	</div>
</div>

@section scripts{


    <script type="text/javascript">
        $(document).ready(function () {
            console.log("test");
            $("#btnGetFromToRoute").bind("click", GetRoute);
            
        });

        function GetRoute() {

            console.log("Hello");

            var fromCityName = $("FromCityName").val();
            var toCityName = $("ToCityName").val();
            var Bus = true  //$("FromToBus").val();
            var Train = true //$("FromToTrain").val();
            var Airplane = true //$("FromToAirplane").val();

            if (fromCityName === undefined || fromCityName === 0) {
                return;
            }

            if (toCityName === undefined || toCityName === 0) {
                return;
            }
            $.ajax({
                type: "POST",
                url: "Home/GetRoute",
                async: true,
                dataType: JSON,
                data: { FromCityName: fromCityName },//, ToCityName: toCityName, bus: Bus, train: Train, airplane: Airplane },
                success: function (data) {
                    console.log("TESTESTEST");
                },
                error: function (err) {

                }
            });
        }
    </script>

}